* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero_container {
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: #566aca;
  gap: 36px;
  padding: 100px 20px;
  
}

.inter_regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter_semi_bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter_bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  padding: 20px 120px;
  font-size: 16px;
  color: #000000;
}

.nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0px;
  padding: 25px 0px;
  text-align: center;
  font-size: 16px;
}
.icons {
  margin-top: 2px;
}
.btn {
  padding: 0px;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  background-color: #30b868;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.btn:hover {
  background-color: bisque;
  color: black;
}
.one-section {
  background-image: url("./B13-A01-Knowledge-Vault/assets/hero-bg.png");
  height: 850px;
  background-size: contain;
  background-repeat: no-repeat;
}
.section-text {
  padding: 70px 134px 120px 120px;
  text-align: center;
  gap: 32px;
}
.for-gap-02{

  margin: 32px auto;
}
.btn-02 {
  width: 283px;
  background-color: #ffffff;
  padding: 12px;
  font-size: 16px;
  border-radius: 1000px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  gap: 6px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  color: #30b868;
  display: flex;
  justify-content: center;
}
.btn-02:hover {
  background-color: #30b868;
  color: bisque;
}

.cta_button_container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.cta_button1 {
  width: 230px;
  gap: 10px;
  padding: 12px 16px;
  background-color: #30b868;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta_button2 {
  width: 200px;
  gap: 10px;
  padding: 12px 16px;
  background-color: none;
  color: white;
  border: solid 2px white;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-03 {
  width: 189px;
  height: 40px;
  padding: 0px;
  border-radius: 5px;
  background-color: #30b868;
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  border: none;
  color: #ffffff;
  margin-top: 20px;
}
.btn-03:hover {
  background-color: bisque;
  color: #000000;
}
.btn-04 {
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  border: 2px solid white;
  width: 136px;
  height: 40px;
  border-radius: 5px;
  background: none;
  color: #ffffff;
  margin-top: 20px;
}

.section-text h2 {
  font-size: 72px;
  font-weight: bold;
  line-height: 80px;
}
.text-01 {
  color: white;
}
.text-02 {
  color: #30b868;
}
.section-text p {
  font-size: 16px;
  font-weight: 300px;
  line-height: 24px;
  color: #ffffff;
}
/* section {
  background-color: rgb(110, 39, 39);
  padding-top: 1px;
} */
.container h2 p {
  text-align: center;
}
.center {
  text-align: center;
}
.card {
  width: 300px;
  height: 280px;
  background-color: whitesmoke;
  justify-items: center;
  align-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(187, 182, 182);
}
.main-container {
  margin: 0px auto;
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.decoration {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 100%;
  background-color: rgb(201, 46, 98);
}
.card p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400px;
}
.card h4 {
  padding: 16px 0px;
  font-size: 24px;
  font-weight: bold;
}
.main-div {
  width: 1600px;
  height: 850px;
  margin-top: 80px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  padding: 150px;
  gap: 60px;
  
}
.img{
  height: 600px;
  width: 600px;
}

.main-div h2 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}
.p-01 {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 20px;
}
.text-color {
  color: #30b868;
  font-size: 15px;
}
.chan-container {
  width: 1300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f7f6f2;
  border-radius: 12px;
  margin-bottom: 80px;
}
.chan-font {
  text-align: center;
  padding: 80px 0px 40px;
}
.chan-font h3 {
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600px;
  font-size: 30px;
}
.chan-font p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 23px;
  color: #627382;
  font-family: "Inter", sans-serif;
}
.chan-font button {
  margin-bottom: 15px;
}
.footer-main {
  height: 350px;
  background-color: rgba(16, 48, 63, 0.993);
}
.footer-conteiner {
  display: flex;
  padding: 120px 120px 80px 120px;
  justify-content: space-between;
}
.footer-conteiner P {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500px;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
}
.footer-font i {
  gap: 50px;
  background-color: #f7f6f2;
  height: 25px;
  width: 25px;
  padding: 4px;
  border-radius: 100%;
}
.for-gap {
  display: flex;
  gap: 16px;
}
.for-hr {
  border: none;
  border-top: 2px solid rgb(74, 74, 90);
  height: 1px;
  width: 1600px;
  margin: auto;
}
.copy-right {
  font-size: 13px;
  color: #fafafa;
  margin: 20px auto;
  font-family: "Inter", sans-serif;

  text-align: center;
}
.build{
  display: flex;
  /* justify-content: center; */

}
